## *sample program*
## *Given Num Addition,Subtraction,Multipication,Division*
## *Concantration statement*
## *Finding calender*

# Sample Program

In [4]:
print("welcome to mstp")

welcome to mstp

In [9]:
a=input("enter name")
print(a)

enter nameGOPAL
GOPAL

### *CONDITION STATEMENT*

In [1]:
a=int(input("ENTER A VALUE"))
b=int(input("ENTER B VALUE"))
if a==b:
    print("a and b is equal")
    print(type(a&b))  
elif a>b:
    print("a is greater")
    print(input(a))
else:
    print("b is greater")
    print(input(b))

67
67
a and b is equal
<class 'int'>

In [15]:
a=40
B=7
print(a+B)

47

# Given Num Division

In [4]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a/b)

enter a value79
enter b value7
11.285714285714286

# Given Num Multipication

In [3]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a*b)

enter a value56
enter b value67
3752

# *Given Num Addition*

In [5]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a+b)

enter a value70
enter b value9
79

# *Given Num Subtraction*

In [6]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a-b)

enter a value97
enter b value79
18

## *CONCANTRATION STATEMENT*

In [11]:
a="Gopal"
b=" RoyalCivil"
c=a+b
print(c)

Gopal RoyalCivil

In [2]:
a=40
b=50
if

SyntaxError: invalid syntax (<ipython-input-2-7940066a1207>, line 3)

In [4]:
a=int(input("ENTER A VALUE"))
b=int(input("ENTER B VALUE"))
if a==b:
    print("a and b is equal")  
elif a>b:
    print("a is greater")
else:
    print("b is greater")

ENTER A VALUE67
ENTER B VALUE67
a and b is equal

In [9]:
a=int(input("ENTER A VALUE"))
b=int(input("ENTER B VALUE"))
C=int(input("ENTER C VALUE"))
if a==b==c:
    print("all are equal") 
elif a>b:
    print("a is greater")
elif b>c:
    print("b is greater")
else:
    print("c is greater")

ENTER A VALUE66
ENTER B VALUE77
ENTER C VALUE88

NameError: name 'c' is not defined

## *Finding calender*

In [4]:
import calendar
year=1997
month=4
c=calendar.month(year,month)
print(c)

     April 1997
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [10]:
import calendar
year=int(input(year))
month=int(input(month))
print(calendar.month(year,month))

19971997
44
     April 1997
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [11]:
n="gopal"
print(type(n))

<class 'str'>

In [12]:
a=1
type(a)

int

In [13]:
a=0000.5
type(a)

float

In [19]:
a='g'
type(a)

str

## Loops

In [26]:
for i in range(80):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79

In [35]:
x=["mani gopal"]
for i in x:
    print(i)

mani gopal

In [47]:
x=["mani","gopal"]
y=["gopal","civil"]
for i in x:
    for j in y:
        print(x,y)

['mani', 'gopal'] ['gopal', 'civil']
['mani', 'gopal'] ['gopal', 'civil']
['mani', 'gopal'] ['gopal', 'civil']
['mani', 'gopal'] ['gopal', 'civil']

## *function concept*

## Syntax For Function

In [49]:
def functioname(parameters):
    return statement
functionname()

NameError: name 'functionname' is not defined

In [50]:
def add(x,y):
    c=x+y
    return c
a=10
b=20
add(a,b)

30

In [53]:
def mul(x,y):
    c=x*y
    return c
a=10
b=20
mul(a,b)

200

In [55]:
def sub(x,y):
    c=x-y
    return c
a=int(input("enter a value"))
b=int(input("enter b value"))
sub(a,b)

enter a value97
enter b value79

18

## arthamatic operations using function

In [16]:
def add(a,b):
    c=a+b
    return c
def sub(a,b):
    c=a-b
    return c
def mul(a,b):
    c=a*b
    return c
def div(a,b):
    c=a/b
    return c
a=int(input("enter a value"))
b=int(input("enter b value"))
print(add(a,b))
print(sub(a,b))
print(mul(a,b))
print(div(a,b))

enter a value97
enter b value79
176
18
7663
1.2278481012658229

## *print the table*

In [26]:
num=int(input("Enter Table You Want"))
print("The Multiplication of Given Table Is",num)
for i in range(1,11):
    print(num,"x",i,"=",num*i)

Enter Table You Want79
The Multiplication of Given Table Is 79
79 x 1 = 79
79 x 2 = 158
79 x 3 = 237
79 x 4 = 316
79 x 5 = 395
79 x 6 = 474
79 x 7 = 553
79 x 8 = 632
79 x 9 = 711
79 x 10 = 790

## finding even r odd

In [1]:
input("enter a num")
 if a%2==0:
    print("the given no is even")
else:
    print("the given no is odd")

IndentationError: unexpected indent (<ipython-input-1-912cea97691a>, line 2)

In [4]:
def evenodd(x):
    if(x%2==0):
        print("even no")
    else:
        print("odd")
evenodd(2)  
evenodd(5)

even no
odd